* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 1em;
}

h3 {
    padding: 28px;
}

h2, p {
    text-align: center;
}

p {
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
}

nav a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 23px 0px 0px 15px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 0px;
    height: 65px;
    border-bottom: 1px solid black;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    border-top: 1px solid black;
}


nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.nav-hover:hover {
    font-weight: bold;
    color: red;
}

.wrapper {
    max-width: 1000px;
    margin: 0px auto;
}

.icons {
    padding: 0px 0px 0px 0px;
}

.logo {
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero {
    width: 100%;
    text-align: center;
}

.back:hover {
    font-weight: bold;
    color: red;
}

.back {
    justify-content: center;
    padding: 0px 0px 0px 0px;
    display: flex;
    text-decoration: underline;
}

.credit {
    padding: 24px 0px 0px 145px;
    text-align: center;
    font-size: 0.75em;
    color: #ccc;
}
.credit a {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: #ccc;
}

.container {
    display: flex;
    flex-direction: column;
}

.card {
    width: 300px;
    margin: 12px;
    background-color: white;
}

.name {
    padding: 10px 0px 10px 0px;
}

.row-top {
    display: flex;
    justify-content: center;
}

.row-bottom {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
    
    .hero {
        background-size: 140%;
        height: 400px;
    }

}
